body {
    background-color: rgb(83, 16, 16);
    background-size: cover;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', ' Geneva' , ' Verdana', 'sans-serif';
    color:rgb(247, 83, 110);
}